*{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-color: bisque;
    background-image: url(./viktor-jakovlev-H0vuplqoX0c-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-size: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
    content: '';
    width: 0%;
    height: 2px;
    background-color: red;
    display: block;
    margin: auto;
}
.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: whitesmoke;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid red;
    background: red;
    transition: 1s;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background-color: red;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/*------About Us-----*/
.AboutUs{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background-color: white
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
}
/*-----facilities----*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.facilities-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
/*-----Call to action----*/
.cta{
    margin: 100px auto;
    width: 80%;
    
    background-image: linear-gradient(red) url(./viktor-jakovlev-H0vuplqoX0c-unsplash.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    border-radius: 10px;
}
.cta h1{
    color: red;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}
/*----Footer-----*/
.footer{
    text-align: center;
    width: 100%;
    padding: 30px 0;
}
.footer h1{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}


